@model TaskTrackingSystem.ViewModels.ProjectViewModel;
@{
    ViewData["Title"] = "Creare new Project";
}

@if (Model.UserName == User.Identity.Name)
{
    <a asp-action="Create" asp-route-namae="@Model.UserName" data-toggle="modal" class="modal_show">Create New Project</a>
}

<div>
    @foreach (var project in Model.Projects.Select((value, i) => new { i, value }))
    {
        @if ((project.value.Status == ProjecrStatus.Public) | (project.value.Status == ProjecrStatus.Private & Model.UserName == User.Identity.Name))
        {
            
                <div class="border rounded-1 p-3 m-2 d-flex" width="300px">
                    <div class="mr-3">
                        <a asp-controller="TaskList" asp-action="Index" asp-route-id="@project.i" asp-route-name="@Model.UserName">
                            <p class="text-dark font-weight-bold">@project.value.Name</p>
                        </a>
                        @if (project.value.Status == ProjecrStatus.Private)
                        {
                            <p>@project.value.Status</p>
                        }
                    </div>
                    <div>
                        <p class="text-secondary">@project.value.Description</p>
                    </div>

                    <div>
                        <div class="dropdown border-0">
                            <p class="dropdown-toggle lolkek" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars"></i></p>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <button class="dropdown-item" type="button">Edit</button>
                                <button class="dropdown-item" type="button">Delete</button>                                
                            </div>
                        </div>
                    </div>
                </div>
            
        }
    }
</div>

<!-- modal placeholder-->
<div id="myModal" class="modal fade">
    <div id="myModalContent" class="modal-dialog">

    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="~/js/ModalWindows.js"></script>
}