@model TaskTrackingSystem.ViewModels.ProjectViewModel;
@{
    ViewData["Title"] = "Creare new Project";
}

@if (Model.UserName == User.Identity.Name)
{
    <a asp-action="Create" data-toggle="modal" class="modal_show btn btn-primary">Create New Project</a>
}

<div>
    @foreach (var project in Model.Projects.Select((value, i) => new { i, value }))
    {

        @if ((project.value.Status == ProjecrStatus.Public) | (project.value.Status == ProjecrStatus.Private & Model.UserName == User.Identity.Name))
        {

            <div class="projectbox" width="300px">
                <div class="mr-3">
                    <a asp-controller="TaskList" asp-action="Index" asp-route-id="@project.i" asp-route-name="@Model.UserName">
                        <p class="text-dark font-weight-bold">@project.value.Name</p>
                    </a>
                    @if (project.value.Status == ProjecrStatus.Private)
                    {
                        <p>@project.value.Status</p>
                    }
                </div>
                <div>
                    <p class="text-secondary">@project.value.Description</p>
                </div>

                <div>
                    @if (Model.UserName == User.Identity.Name)
                    {
                        <div class="dropdown border-0">
                            <p class="dropdown-toggle lolkek" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars"></i></p>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <a asp-action="Edit" asp-route-id="@project.value.Id" class="dropdown-item modal_show" type="button"><i class="fas fa-edit mr-3"></i>Edit</a>
                                <a asp-action="Delete" asp-route-id="@project.value.Id" class="dropdown-item" type="button"><i class="fas fa-times mr-3"></i>Delete</a>
                            </div>
                        </div>
                    }
                </div>
            </div>

        }
    }

    <!--Team Project-->
    @if (Model.UserName == User.Identity.Name)
    {
        if (Model.TeamProjects.Count() > 0)
        {
            <h4>Team Projects</h4>
        }

        @foreach (var teamproject in Model.TeamProjects.Select(x => x.Project).Select((value, i) => new { i, value }))
        {
            <div class="border rounded-1 p-3 m-2 d-flex" width="300px">
                <div class="mr-3">
                    <a asp-controller="TaskList" asp-action="Index" asp-route-id="@teamproject.i" asp-route-name="@teamproject.value.User.UserName">
                        <p class="text-dark font-weight-bold">@teamproject.value.Name</p>
                    </a>
                    @if (teamproject.value.Status == ProjecrStatus.Private)
                    {
                        <p>@teamproject.value.Status</p>
                    }
                </div>
                <div>
                    <p class="text-secondary">@teamproject.value.Description</p>
                </div>

                <div>
                    @if (Model.UserName == User.Identity.Name)
                    {
                        <div class="dropdown border-0">
                            <p class="dropdown-toggle lolkek" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars"></i></p>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <a asp-action="Edit" asp-route-id="@teamproject.value.Id" class="dropdown-item modal_show" type="button">Edit</a>
                                <a asp-action="Delete" asp-route-id="@teamproject.value.Id" class="dropdown-item" type="button">Delete</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    }
</div>

<!-- modal placeholder-->
<div id="myModal" class="modal fade">
    <div id="myModalContent" class="modal-dialog">

    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="~/js/ModalWindows.js"></script>
}