@model TaskTrackingSystem.ViewModels.TaskListViewModel;
@{
    ViewData["Title"] = "Task List";
}

<h3 class="mb-4">@Model.ProjectName</h3>
<a asp-action="Create" asp-route-id="@Model.ProjectId" data-toggle="modal" class="modal_show">Add New Colum</a>
<div class="d-flex">
    @foreach (TaskList taskList in Model.TaskLists)
    {
        <div class="task-list mr-3">
            <div class="task-list__header">
                <div class="btn btn-outline-secondary">
                    @taskList.Name <span class="badge badge-light">@taskList.ProjectTasks.Count()</span>
                    <span>id = @taskList.Id</span>
                </div>

                <div class="ml-auto">
                    <a asp-controller="Task" asp-action="Create" asp-route-id="@taskList.Id" data-toggle="modal" class="modal_show">
                        <button class="border-0"><i class="fas fa-plus-circle"></i></button>
                    </a>                    
                        @if (true)
                        {
                            <div class="dropdown border-0">
                                <p class="dropdown-toggle lolkek" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars"></i></p>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <a asp-action="Edit" asp-route-id="@taskList.Id" class="dropdown-item modal_show" type="button">Edit</a>
                                    <a asp-action="Delete" asp-route-id="@taskList.Id" class="dropdown-item" type="button">Delete</a>
                                </div>
                            </div>
                        }

                </div>
            </div>

            <div class="p-3">
                @foreach (ProjectTask projectTask in taskList.ProjectTasks)
                {
                    <div class="taskform">
                        <div class="tasktitle">
                            <a>@projectTask.Name</a>
                        </div>

                        <div>
                            <small>created by @projectTask.Author.UserName</small>
                        </div>
                    </div>

                }
            </div>
        </div>
    }
</div>


<!-- modal placeholder-->
<div id="myModal" class="modal fade">
    <div id="myModalContent" class="modal-dialog">

    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="~/js/ModalWindows.js"></script>
}
