@using Microsoft.AspNetCore.Identity
@model TaskTrackingSystem.ViewModels.EditUserViewModel
@{
    ViewBag.Title = "Редактирование пользователя";
}
    <form id="UserEditForm" asp-action="Edit" asp-controller="Users">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <input type="hidden" asp-for="Id" />
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label">Email</label>
            <input type="text" asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="UserName" class="control-label">UserName</label>
            <input type="text" asp-for="UserName" class="form-control" />
        </div>    
        <div class="form-group mb-0">
            <ul class="ks-cboxtags mb-0 p-0">
                @foreach (IdentityRole role in Model.AllRoles)
                {

                    <li>
                        <input type="checkbox" name="roles" id="@role.Name" value="@role.Name" @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "")>
                        <label for="@role.Name">@role.Name</label>
                    </li>
                }
            </ul>
        </div>
        <div>
            <a class="d-inline-block" onclick="document.getElementById('UserEditForm').submit(); return false;">
                <div class="material-button">
                    <p class="btnText" style="margin-top: 14px;margin-bottom: 14px;">SAVE</p>
                    <div class="btnTwo">
                        <p class="btnText2"><i class="fas fa-check"></i></p>
                    </div>
                </div>
            </a>
            <a class="d-inline-block" asp-controller="Users" asp-action="Index">
                <div class="material-button">
                    <p class="btnText" style="margin-top: 14px;margin-bottom: 14px;">CANCEL</p>
                    <div class="btnTwo">
                        <p class="btnText2"><i class="fas fa-times"></i></p>
                    </div>
                </div>
            </a>
        </div>
    </form>